

.perfil-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
}

.title{
  color: #263D8C;
  font-size: 30px;
  margin: 0;
}

.line{
     display: block;
     height: 2px;
     width: 39px; /* o la medida que necesites */
     background-color: #00A8F6;
     margin: 0.5rem 0; /* opcional: espacio arriba y abajo */
}

.header-profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding:1rem auto;
}

.section-header-profile>p{
    color: #263D8C;
}

.button-close{
    width: 147px;
    height: 42px;
    color:#263D8C;
    border: 1px solid #bababa;
    background-color: white;
    padding: 1px;
    font-weight: bold;
}

input.button-save{
     width: 147px;
    height: 42px;
    color:white;
    border: 1px solid #bababa;
    background-color: #263D8C;
    padding: 1px;
    font-weight: bold;
}

.button-close:hover {
    background-color: #00A8F6;
    color: #263D8C;

}

input.button-save:hover{
    background-color: #00A8F6;
    color: #263D8C;
}

input.button-save:active{
    background-color: #00A8F6;
    color: #263D8C;
}

.datos-profile{
    display: flex;
    flex-direction: column;
}

.fila-profile{
    display: flex;
    justify-content: space-between;
}

.fila-profile>input{
    width: 100%;
    margin: 2px;
    height: 50px;
}
.tabs {
    margin-top: 1rem;
    margin: auto;
    width: 100%;
}

.tab-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
   background-color: #263D8C;
   color: white;
    
}

.tab-nav li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom: none;
    background: #263D8C;
    color:white;
    }

.tab-nav li.active {
    background: #00A8F6;
    font-weight: bold;
    color:#263D8C;
}

.tab-content {
    display: none;
    padding: 1rem;
    border: 1px solid #ccc;
}

.tab-content.active {
    display: block;
}

.newsletter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.newsletter-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 275px;
  text-align: left;
}

.img-card {
  width: 100%;
  height: 80px;
  object-fit: cover;
  object-position: right;
  border-radius: 4px;
}

.button-suscripto{
   width: 147px;
    height: 42px;
    color:white;
    border: 1px solid #bababa;
    background-color: #263D8C;
    padding: 1px;
    font-weight: bold;
}

.button-suscripto:hover{
        background-color: #00A8F6;
    color: #263D8C;
}

.button-suscripto:active{
        background-color: #00A8F6;
    color: #263D8C;
}

.button-suscripto:disabled{
   width: 147px;
    height: 42px;
    color:#818384;
    border: 1px solid #bababa;
    background-color: #E4E9EB;
    padding: 1px;
    font-weight: 400;
}

.newsletter-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.newsletter-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.newsletter-img {
  width: 100%;
  height: 140px !important;
  object-fit: cover;
}

.newsletter-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.newsletter-title {
  font-size: 18px;
  margin: 0 0 8px;
}

.newsletter-desc {
  font-size: 14px;
  color: #555;
  flex-grow: 1;
  
}

.newsletter-divider {
  border: none;
  border-top: 1px solid #ddd;
  width: 100%;
  margin: 12px 0;
}

.estado {
  font-weight: bold;
  margin: auto !important;
  padding-top: 4px;
}

.estado.suscripto {
  color: green;
}

.estado.pendiente {
  color: rgb(139, 139, 139);
}

.estado.no-suscripto {
  color: #a5a5a5;
}

.btn-suscribirme {
  color: #01496d !important;
  border: none !important;
  cursor: pointer;
  padding: 4px;
}

.btn-suscribirme:hover {
  color: #005f8d !important;
  background: none !important;
  
}
